<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>/pages/tour.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts-config.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.compro.controller.LogoutAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatetrek</servlet-name>
		<servlet-class>com.compro.controller.UpdateTrek</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatetrek</servlet-name>
		<url-pattern>/updatetrek</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>
			com.compro.Filter.SessionFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/join.do</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>JointrekAction</servlet-name>
		<servlet-class>com.compro.controller.JointrekAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JointrekAction</servlet-name>
		<url-pattern>/join.do</url-pattern>
	</servlet-mapping>


	<jsp-config>
		<taglib>
			<taglib-uri>
				http://struts.apache.org/tags-bean
			</taglib-uri>
			<taglib-location>
				/WEB-INF/lib/struts-bean.tld
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>
				http://struts.apache.org/tags-html
			</taglib-uri>
			<taglib-location>
				/WEB-INF/lib/struts-html.tld
			</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
